In [1]:
import os
import sqlite3
import datetime

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# create db

In [3]:
!del covid19eu.db

In [4]:
conn = sqlite3.connect('covid19eu.db')
c = conn

In [5]:
# read data

In [6]:
file = "cases.csv"
data = pd.read_csv(file)
data["date"] = [datetime.datetime.strptime(time, "%d-%m-%Y") for time in data["date"].values]

In [7]:
data.head()

,province,region,country,time,date,n_total_cases,n_deaths,n_active,growth_day,cycle,expect_1day_low,expect_1day_up,expect_2day_low,expect_2day_up,closest_neighbour
0,NaN,NaN,Spain,20:00,2020-03-08,673,NaN,NaN,NaN,NaN,800.0,1200.0,1200.0,1800.0,NaN
1,NaN,NaN,Spain,20:00,2020-03-09,1234,30.0,NaN,NaN,NaN,1600.0,2000.0,2200.0,2800.0,NaN
2,NaN,NaN,France,NaN,2020-03-09,1412,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Italy,NaN,2020-03-09,9172,463.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Spain,20:00,2020-03-10,1679,35.0,1509.0,NaN,NaN,2200.0,2600.0,3000.0,3500.0,NaN

In [8]:
data.to_sql("cases", c)

In [9]:
# dump database
# Convert file existing_db.db to SQL dump file dump.sql

with open('dump.sql', 'w') as f:
    for line in conn.iterdump():
        f.write('%s\n' % line)

In [10]:
!dir

 El volumen de la unidad D es Nuevo vol
 El nÂ£mero de serie del volumen es: D606-A170

 Directorio de D:\Programming\PYTHON\HACKATHON\coronavirus19eu

11/03/2020  00:51    <DIR>          .
11/03/2020  00:51    <DIR>          ..
10/03/2020  00:11    <DIR>          .git
10/03/2020  23:58                14 .gitignore
10/03/2020  20:24    <DIR>          .ipynb_checkpoints
11/03/2020  00:51               616 cases.csv
11/03/2020  00:51            12.288 covid19eu.db
10/03/2020  23:58               144 credentials.md
11/03/2020  00:51             1.672 dump.sql
10/03/2020  00:01             1.930 README.md
11/03/2020  00:51             9.154 xploration.ipynb
               7 archivos         25.818 bytes
               4 dirs  45.283.475.456 bytes libres